<template>
    <div id="app">
        {{letters}}

    </div>
</template>

<script>
    require('lodash');
    var letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'Å', 'Ä', 'Ö'];
    var vowels = ['A', 'E', 'I', 'O', 'U', 'Å', 'Ä', 'Ö'];
    var consonants = _.filter(letters, function(l){ return vowels.indexOf(l) === -1;});
    throw new Exception();

    var lettersInObject = {};
    for (var i = 0; i < letters.length; i++) {
        lettersInObject[letters[i]] = i;
    }
    var bullshit = require('./stuff.json');
    import book from './book.js';

    var cleanedBook = [];
    var currWord = '';

    function sanitizeTextAndSplit(text) {
        var cleanedText = [];
        for (var i = 0; i < text.length; i++) {
            var ch = text[i].toUpperCase();
            if (lettersInObject[ch] >= 0) {
                currWord += ch;
            } else {
                if (currWord.length > 0) {
                    cleanedText.push(currWord);
                }
                currWord = '';
            }
        }
        return cleanedText;
    }

    if (currWord.length > 0) {
        cleanedBook.push(currWord);
    }
    var distanceBetweenLetters = {};

    letters.forEach((letter, ind) => {
        distanceBetweenLetters[letter] = distanceBetweenLetters[letter] || {};
        var currInd = ind;
        for (var i = 0; i < letters.length; i++) {
            distanceBetweenLetters[letter][letters[currInd]] = i;
            currInd++;
            if (currInd === letters.length) {
                currInd = 0;
            }
        }
    });

    function charDiffs() {
        this.originalWord = null;
        this.wordDiffs = [];
        this.root = null;
    }

    function calculateDistancesForWord(word) {
        var diffs = new charDiffs();
        diffs.originalWord = word;
        var uppercaseWord = word.toUpperCase();
        var cleanedWord = '';
        for (var i = 0; i < uppercaseWord.length; i++) {
            if (distanceBetweenLetters[uppercaseWord[i]]) {
                cleanedWord += uppercaseWord[i];
            }
        }

        diffs.root = letters.indexOf(cleanedWord[0]);
        for (var i = 1; i < cleanedWord.length; i++) {
            var c1 = cleanedWord[i - 1];
            var c2 = cleanedWord[i];
            diffs.wordDiffs.push(distanceBetweenLetters[c1][c2]);
        }
        return diffs
    }

    function CharNode() {
        var self = this;
        this.parent = null;
        this.children = {};
        this.wordsEndingHere = {};
        this.addChild = function (diffValue) {
            self.children[diffValue] = self.children[diffValue] || new CharNode();
            self.children[diffValue].parent = self;
            return self.children[diffValue];
        }

        this.wordEndsHere = function (word) {
            var firstLetterIndex = letters.indexOf(word[0]);
            this.wordsEndingHere[firstLetterIndex] = this.wordsEndingHere[firstLetterIndex] || {count: 0, word: word};
            this.wordsEndingHere[firstLetterIndex].count++;
        }
    }

    var motherObj = new CharNode();

    function buildWordTree(word) {
        var uppercaseWord = word.toUpperCase();
        var diffs = calculateDistancesForWord(uppercaseWord);
        var root = diffs.root;
        var currNode = motherObj;
        for (var i = 0; i < diffs.wordDiffs.length; i++) {
            var currDiff = diffs.wordDiffs[i];
            currNode = currNode.addChild(currDiff);
        }
        currNode.wordEndsHere(uppercaseWord);
    }

    function getWordsRecursive(currObj, diffs, depth) {
        if (depth === diffs.length) {
            if (_.isEmpty(currObj.wordsEndingHere)) {
                return false;
            }
            return currObj.wordsEndingHere;
        }
        var currDiff = diffs[depth];
        if (currObj.children[currDiff]) {
            return getWordsRecursive(currObj.children[currDiff], diffs, depth + 1);
        }
        return false;
    }

    function searchForWord(diffObj) {
        var curr = motherObj;
        var currIndex = 0;
        var finished = false;
        return getWordsRecursive(motherObj, diffObj.wordDiffs, 0);
    }

    var cleanedBook = sanitizeTextAndSplit(book);
    for (var i = 0; i < cleanedBook.length; i++) {
        buildWordTree(cleanedBook[i]);
    }

    function convertWithKey(words, key) {
        var converted = [];
        _.each(words, function (word) {
            var newWord = '';
            for (var i = 0; i < word.length; i++) {
                var ch = word[i];
                var ind = lettersInObject[ch];
                ind -= key;
                if (ind < 0) {
                    ind = letters.length + ind;
                }
                newWord += letters[ind];
            }
            converted.push(newWord);
        });
        return converted;
    }


    _.each(bullshit.bullshits, function (row) {
      console.log('HANDLING', row);
        var sanitized = sanitizeTextAndSplit(row.message);
        var keysToTest = [];
        _.each(sanitized, function (curr) {
            var diffObj = calculateDistancesForWord(curr);
            var wordDiffs = searchForWord(diffObj);
            if (wordDiffs) {
                _.each(wordDiffs, function (item, key) {
                    var keyDiff = diffObj.root - key;
                    if (keyDiff < 0) {
                        keyDiff = keyDiff + letters.length;
                    }
                    keysToTest.push(keyDiff);
                });
            }
        });
        _.each(_.uniq(keysToTest), function (keyDiff) {
            console.log('converted', convertWithKey(sanitized, keyDiff));
        });
    });

    export default {
        name: 'app',
        data: function () {
            return {
                letters: letters
            }
        }
    }
</script>
